html {
    height: 100%;
    width: 100%;
    font-family: "Titillium Web", sans-serif;
  }
  
  body {
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(rgb(106, 199, 174), rgb(57, 149, 112));
  }
  
  button {
    font-size: 7px;
  }
  
  #main-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
  
  #spreads {
    margin: 10px;
    border: 1px solid rgb(138, 8, 8);
    background: rgba(232, 23, 23, 0.75);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
  #pickedSpread{
    margin: 10px;
    border: 1px solid rgb(204, 202, 202);
    background: rgba(66, 89, 114, 0.75);
    padding: 15px 20px 18px 18px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #333;
  }
  